:root {
    --primary-background-color: #0E1323;
    --secondary-background-color: #1C204B;
    --profile-background-color: #5747EA;
    --primary-text-color: #ffffff;
    --secondary-text-color: #BBC0FF;
    --font-family: "Rubik", sans-serif
  }